.container {
  min-height: 100vh;
  padding: 10% 15%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.subtitle {
  text-align: center;
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 38px;
}
.articles {
  display: grid;
  grid-template-columns: 20% 1fr;
  gap: 30px;
}
