.container {
  min-height: 30vh;
  padding: 10% 15%;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  text-align: center;
}

.brush {
  height: 50px;
  width: 500px;
  position: relative;
  top: 0vh;
  right: 0%;
  background-image: url("../assets/BRUSH.png");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: 5;
}
.formulario {
  margin-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 40%);
  gap: 15px;
  place-content: center;
}
.group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.upperfield {
  text-transform: uppercase;
  font-weight: 700;
}
.field {
  padding: 15px;
  outline: none;
  width: 100%;
}
.field:focus {
  outline: solid #d8ad3d;
}
.field:required {
  outline: solid #b72c2c;
}
.contentButton {
  width: 200%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 600px) {
  .brush {
    width: 300px;
    top: -1vh;
  }
  .subtitle {
    font-size: 30px;
  }
  .formulario {
    grid-template-columns: repeat(auto-fit, 100%);
  }
  .contentButton {
    width: 100%;
  }
}
