.hero {
  background-image: url("../assets/hero.png");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  max-width: 100%;
  z-index: -1;
}
.logo {
  position: absolute;
  top: 40px;
  left: 10%;
  font-size: 40px;
  font-family: "Caveat", cursive;
  color: #24272a;
}
.heroTitle {
  color: #24272a;
  width: 420px;
  position: absolute;
  top: 33%;
  left: 10%;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 65px;
  line-height: 100px;
  font-family: "Caveat", cursive;
  z-index: 10;
}
.brush {
  position: absolute;
  top: 45vh;
  right: 50%;
  background-image: url("../assets/BRUSH.png");
  background-size: cover;
  background-position: center;
  height: 150px;
  width: 1200px;
  z-index: 5;
}
